[Unit]
Description=Update raspberry pi's in-board leds to monitorr Souffleur state
After=hostapd.service souffleur.service dnsmasq.service avahi-daemon.service

[Service]
Type=simple

ExecStart=/usr/bin/souffleur-pi-monitor start
ExecStop=/usr/bin/souffleur-pi-monitor stop

[Install]
WantedBy=multi-user.target
