[Unit]
Description=Mount USB sticks
BindsTo=dev-%i.device
After=dev-%i.device

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/souffleur-pi-automount /dev/%I
ExecStop=/usr/bin/pumount /dev/%I
